.wrapper, html, body {
    height: 100%;
    margin: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
}
#row1 {
    background-color: red;
}
#col1 {
    background-color: yellow;
    flex: 4 1;
    /* min-height: 100%;chrome needed it a question time , not anymore */
}
#col2 {
    background-color: orange;
    flex: 1 1;
    /* min-height: 100%;chrome needed it a question time , not anymore */
}

#row2 {
    background-color: green;
    flex:1;
    display: flex;
}

#row3 {
    background-color: pink;
}
