.wrapper, html, body {
    height: 100%;
    margin: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
}
#row1 {
    background-color: red;
}
#col1 {
    background-color: yellow;
    flex: 100 1;

    flex-direction: column;
    display: flex;
    min-height: 100%;/* chrome needed it a question time , not anymore */
}
#col2 {
    background-color: orange;
    flex: 1 1;
    min-height: 100%;/* chrome needed it a question time , not anymore */
}

#col1-row1 {
    background-color: green;
    flex:100 1;
    height: 100%;
}
#col1-row2 {
    background-color: green;
    flex:1;
}

#row2 {
    background-color: green;
    flex:1;
    display: flex;
}

#row3 {
    background-color: pink;
}

@media screen and (max-width:700px){
    #col2 {
        display: none;
    }
}