body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 
@font-face {
  font-family: 'Menlo for Powerline';
  font-style: normal;
  font-weight: normal;
  src: local('Menlo for Powerline'), url('./fonts/Menlo for Powerline.ttf') format('ttf');
  }

  @font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Mono'), url('./fonts/RobotoMono.ttf') format('ttf');
    } */